@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RCM</h1>
    <p class="lead">RCM (Revit Changes Monitor) é uma solução para monitoramento de uso da ferramenta Autodesk Revit, com o propósito
    de gerar métricas que indiquem o nível de conhecimento dos usuários nas diferentes funcionalidades do Revit.  </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Faça seu cadastro</h2>
        <p>
            Faça o seu cadastro agora mesmo!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Clique aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plug-in</h2>
        <p>Faça o download do plug-in.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Clique aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acompanhe.</h2>
        <p>Acompanhe as métricas através deste sistema web!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Clique aqui &raquo;</a></p>
    </div>
</div>